@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.footer-bg-image {
  background-image: url("../image/webp/footer-bg.webp");
}

.blue-blur::before {
  content: "";
  position: absolute;
  top: -120px;
  right: -150px;
  width: 384px;
  height: 384px;
  background: linear-gradient(133.98deg, #0076be 11.95%, #95d8eb 100%);
  filter: blur(220px);
  z-index: 1;
  pointer-events: none;
}
